html, body, main, canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    vertical-align: bottom;
}

#ui {
    background-color: #313131;
    height: 10%;
}

#app {
    background-color: #34a249;
    height: 90%;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}